<div class="col-span-12 dark:bg-gray-900 ease-in-out duration-300 h-screen">
  <div class="rounded-sm bg-white shadow-default dark:bg-gray-900">
    <div class="p-4 md:p-6 xl:p-7.5">
      <div class="flex items-start justify-between">
        <div>
          <h2 class="text-title-sm2 font-bold text-black dark:text-white">
            Merchant List
          </h2>

        </div>
        <div class="flex items-start justify-between align-middle">
          <h2 class="text-title-sm2 font-bold text-black dark:text-white mr-4">Add A Merchant</h2>
          <button [routerLink]="['/dashboard/merchant-management/add']"  class="items-center justify-center text-center font-small">
            <svg xmlns="http://www.w3.org/2000/svg" fill="text-blue-zodiac-500" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-zodiac-900 dark:text-haiti-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-4 overflow-x-auto">
        <table class="w-full table-auto">
          <thead>
          <tr class="bg-gray-200 dark:bg-gray-700">
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">ID</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Number</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Name</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Status</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Bank Account Details</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Tax Rate</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Addresses</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Activities</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Delete</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let merchant of merchants" class="hover:bg-gray-100 dark:hover:bg-gray-800">
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.id}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.merchantNumber}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.merchantName}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.status}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.bankAccountDetails}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.taxRate}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <div *ngIf="!hasPrimaryAddress(merchant.addresses)">
                merchant has no primary address yet
              </div>
              <div *ngIf="hasPrimaryAddress(merchant.addresses)">
                <div *ngFor="let address of merchant.addresses">
                  <div *ngIf="address.isPrimary">
                    {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.country }}, {{ address.zipCode }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <div *ngFor="let activity of merchant.activities">
                {{ activity.activityName }}
              </div>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <button (click)="showConfirmationModal()" class="inline-flex items-center justify-center rounded-full px-2 py-2 text-center font-small text-blue-zodiac-50 dark:bg-haiti-500 bg-blue-zodiac-900 lg:px-8 xl:px-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </button>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <button (click)="selectMerchant(merchant.id)" [routerLink]="['/dashboard/merchant-management/modify', merchant.id]" class="inline-flex items-center justify-center rounded-full px-2 py-2 text-center font-small text-blue-zodiac-50 dark:bg-haiti-500 bg-blue-zodiac-900 lg:px-8 xl:px-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.131l-4.132 1.378a.75.75 0 0 1-.95-.95l1.378-4.132a4.5 4.5 0 0 1 1.13-1.898l10.75-10.75Z" />
                </svg>
              </button>
            </td>
            <div *ngIf="isVisible" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
              <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
              <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                  <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                      <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                          <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                          </svg>
                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                          <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ title }}</h3>
                          <div class="mt-2">
                            <p class="text-sm text-gray-500">{{ message }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                      <button type="button" (click)="deleteMerchant(merchant.id)" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Confirm</button>
                      <button type="button" (click)="cancel()" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-onboarding-merchant *ngIf="isAddModalOpen" (closeModal)="closeAddModal()" [isAddModalOpen]="isAddModalOpen"></app-onboarding-merchant>
  <app-modify-merchant
    *ngIf="selectedMerchantId"
    [merchantId]="selectedMerchantId"
    (closeEdit)="deselectMerchant()"
    (updateComplete)="refreshMerchants()">
  </app-modify-merchant>


</div>

