<div class="col-span-12 dark:bg-haiti-950 ease-in-out duration-300">
  <div class="rounded-sm border border-stroke bg-white shadow-default  dark:bg-haiti-950 dark:border-haiti-950 ">
    <div class="p-4 md:p-6 xl:p-7.5">
      <div class="flex items-start justify-between">
        <div>
          <h2 class="text-title-sm2 font-bold text-black dark:text-white">
            Merchant List
          </h2>

        </div>
        <div class="flex items-start justify-between align-middle">
          <h2 class="text-title-sm2 font-bold text-black dark:text-white mr-4">Add A Merchant</h2>
          <button [routerLink]="['/dashboard/merchant-management/add']"  class="items-center justify-center text-center font-small">
            <svg xmlns="http://www.w3.org/2000/svg" fill="text-blue-zodiac-500" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-zodiac-900 dark:text-haiti-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-4 overflow-x-auto">
        <table class="w-full table-auto">
          <thead>
          <tr class="bg-gray-200 dark:bg-gray-700">
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">ID</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Name</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Status</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Tax Rate</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Bank Account Details</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Addresses</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Activities</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Delete</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-black dark:text-white">Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let merchant of merchants" class="hover:bg-gray-100 dark:hover:bg-gray-800">
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.id}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.merchantNumber}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.merchantName}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.status}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">{{merchant.taxRate}}</td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <div *ngIf="!hasPrimaryAddress(merchant.addresses)">
                merchant has no primary address yet
              </div>
              <div *ngIf="hasPrimaryAddress(merchant.addresses)">
                <div *ngFor="let address of merchant.addresses">
                  <div *ngIf="address.isPrimary">
                    {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.country }}, {{ address.zipCode }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <div *ngFor="let activity of merchant.activities">
                {{ activity.activityName }}
              </div>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <button (click)="deleteMerchant(merchant.id)" class="inline-flex items-center justify-center rounded-full bg-primary px-2 py-2 text-center font-small text-blue-zodiac-50 dark:bg-haiti-500 bg-blue-zodiac-900 lg:px-8 xl:px-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </button>
            </td>
            <td class="px-4 py-2 text-sm text-gray-700 dark:text-gray-300">
              <button (click)="openEditModal(merchant)" class="inline-flex items-center justify-center rounded-full bg-primary px-2 py-2 text-center font-small text-blue-zodiac-50 dark:bg-haiti-500 bg-blue-zodiac-900 lg:px-8 xl:px-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.131l-4.132 1.378a.75.75 0 0 1-.95-.95l1.378-4.132a4.5 4.5 0 0 1 1.13-1.898l10.75-10.75Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5l-6-6" />
                </svg>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-add-merchant *ngIf="isAddModalOpen" (closeModal)="closeAddModal()" [isAddModalOpen]="isAddModalOpen"></app-add-merchant>
  <app-modify-merchant *ngIf="isEditModalOpen && selectedMerchant" [merchant]="selectedMerchant" (closeModal)="closeEditModal()"></app-modify-merchant>
</div>

