<div
  [ngClass]="{'translate-x-0': isSidebarMenuOpen, '-translate-x-full': !isSidebarMenuOpen}"
  class="fixed top-18 left-0 z-40 w-64 h-full bg-gray-800 dark:bg-gray-800 overflow-y-auto rounded-r-lg transition-transform duration-300 ease-in-out"
>
  <div class="p-4">
    <ul class="space-y-2">
      <li class="flex items-center space-x-2">
        <img src="/assets/icon/homeicone.png" class="w-5 h-5">
        <a href="#" class="block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800 text-md font-semibold">Dashboard</a>
      </li>
      <li *ngIf="hasAccess('merchant-management')" class="flex items-center space-x-2">
        <img src="/assets/icon/merchanticone.png" class="w-5 h-5">
        <a routerLink="/dashboard/merchant-management" class="text-md font-semibold block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800">Merchant Management</a>
      </li>
      <li *ngIf="hasAccess('contract-creation')" class="flex items-center space-x-2">
        <img src="/assets/icon/contracticon.png" class="w-5 h-5">
        <a routerLink="/dashboard/contract-creation" class="text-md font-semibold block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800">Contract Creation</a>
      </li>
      <li *ngIf="hasAccess('cases-exceptions')" class="flex items-center space-x-2">
        <img src="/assets/icon/caseeicone.png" class="w-5 h-5">
        <a routerLink="/dashboard/cases-exceptions" class="text-md font-semibold block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800">Cases & Exceptions</a>
      </li>
      <li *ngIf="hasAccess('user-management')" class="flex items-center space-x-2">
        <img src="/assets/icon/usersicon.png" class="w-5 h-5">
        <a routerLink="/dashboard/user-management" class="text-md font-semibold block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800">User Management</a>
      </li>
      <li *ngIf="hasAccess('device-management')" class="flex items-center space-x-2">
        <img src="/assets/icon/devicesicon.png" class="w-5 h-5">
        <a routerLink="/device/dashboard" class="text-md font-semibold block py-2 px-4 text-haiti-100 hover:text-blue-zodiac-800">Device Management</a>
      </li>
    </ul>

  </div>
</div>
