<body class="dark:bg-haiti-950 min-h-screen">
<!-- Todo : retrieves Real Numbers of the merchant and contract and cases. -->
<main class="max-w-full flex felx-grow justify-center overflow-y-auto dark:bg-dark:bg-haiti-950">
  <div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-12">
    <div class="bg-blue-zodiac-900 dark:bg-haiti-500 p-6 rounded-lg shadow-md flex flex-col items-center justify-center">
      <i class="fas fa-users text-4xl text-blue-500 mb-4"></i>
      <h3 class="text-lg text-blue-zodiac-50 dark:text-haiti-100 font-semibold mb-2">Total Merchants</h3>
      <p class="text-3xl text-blue-zodiac-50 dark:text-haiti-100 font-bold">{{ totalMerchants }}</p>
    </div>
    <div class="bg-blue-zodiac-900 dark:bg-haiti-500 p-6 rounded-lg shadow-md flex flex-col items-center justify-center">
      <i class="fas fa-file-contract text-4xl text-green-500 mb-4"></i>
      <h3 class="text-lg text-blue-zodiac-50 dark:text-haiti-100 font-semibold mb-2">Active Contracts</h3>
      <p class="text-3xl text-blue-zodiac-50 dark:text-haiti-100 font-bold">{{ totalContracts }}</p>
    </div>
    <div class="bg-blue-zodiac-900 dark:bg-haiti-500 p-6 rounded-lg shadow-md flex flex-col items-center justify-center">
      <i class="fas fa-exclamation-triangle text-4xl text-yellow-500 mb-4"></i>
      <h3 class="text-lg text-blue-zodiac-50 dark:text-haiti-100 font-semibold mb-2">Open Cases</h3>
      <p class="text-3xl text-blue-zodiac-50 dark:text-haiti-100 font-bold">8</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
</body>
