<div class="flex items-center justify-center h-screen">
  <form autocomplete="off" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="control">
      <img ngSrc="assets/logo.png" height="377" width="662" alt="">
    </div>
    <div class="control block-cube block-input">
      <input name="username" placeholder="Username" type="text" formControlName="username">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <div class="control block-cube block-input">
      <input name="password" placeholder="Password" type="password" formControlName="password">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit" [disabled]="!loginForm.valid">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Log In</div>
    </button>
    <div *ngIf="loginError" class="text-red-500 mb-4">{{ loginError }}</div>

  </form>
</div>
